.vs/*
Bin/*
build/*
CMakeFiles/*
CMakeCache.txt
*.ttarch2
*.ttarch
Dev/.vscode/tasks.json
TelltaleEditor/3rdparty/SDL-shadercross/*
Dev/TestResources/Dbg/*
.DS_Store
*.exe
*.a
*.obj
Dev/Workspace/TTE_WorkspaceProperties.txt
Dev/Workspace/TTE_LatestLog.txt
